.button {
    
    
}

.button-main {
    -fx-font-weight: bold;
    -fx-background-color: #3399ff;
    -fx-text-fill:white;
}
.separator:vertical {
    min-width: 16em;
    max-width: 16em;
}

.separator:horizontal {
    min-height: 16em;
    max-height: 16em;
}

.text:error{
    -fx-fill:red;
}

.text:noerror{
    -fx-fill:green;
}